.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(48, 148, 148);   
    background-color: midnightblue;
}

div {
    color: chocolate;
}


body {
        color: azure;
        background-color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    }

p { color: skyblue; margin: 0 auto;
  }
    
body img {
        width: 450px;
        }

form {
       width: 450px;
             }
     
footer table {margin: 0 auto;
}

form {
    margin: 0 auto;
}
p {
        text-align-last: center;
    }
footer img{
        width: 285px;
        border-radius: 100px;
        }
        
h5 {
        text-align: center;
    }

    

